<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
</head>

<body>
    <%- include('../partials/alerts') -%>

        <main class="dashboard">
            <%- include('../partials/sidebar') -%>

                <div class="container py-12">
                    <h1 class="heading">Reservations</h1>

                    <div>
                        <form class="w-2/3 mb-8" action="/bookings/reservations" method="get">
                            <label for="default-search"
                                class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
                            <div class="relative">
                                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor"
                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                    </svg>
                                </div>
                                <input type="search" name="search" id="default-search"
                                    class="block px-4 py-3 pl-10 w-full text-gray-700 bg-gray-50 rounded-lg border border-gray-300 focus:ring-secondary focus:border-secondary"
                                    placeholder="Search by name" required>
                                <button type="submit"
                                    class="text-white absolute right-2.5 top-1/2 -translate-y-1/2 bg-primary-100 hover:brightness-95 focus:ring-4 focus:outline-none focus:ring-secondary font-medium rounded-lg text-sm px-4 py-2">Search</button>
                            </div>
                        </form>
                    </div>

                    <table class="w-full text-center">
                        <thead>
                            <tr class="bg-primary-200 text-white">
                                <th class="p-3">Program Title</th>
                                <th class="p-3">Guest Name</th>
                                <th class="p-3">Group Size</th>
                                <th class="p-3">Excursion Date</th>
                                <th class="p-3">Date Booked</th>
                                <th class="p-3">Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% if (results.length) { %>
                                <% results.forEach(res=> { %>
                                    <tr>
                                        <td class="p-3">
                                            <%= res.title %>
                                        </td>

                                        <td class="p-3">
                                            <%= res.guest_f_name + ' ' + res.guest_l_name %>
                                        </td>

                                        <td class="p-3">
                                            <%= res.group_size %>
                                        </td>

                                        <td class="p-3">
                                            <%= new Date(res.excursion_date).toLocaleDateString() %>
                                        </td>

                                        <td class="p-3">
                                            <%= new Date(res.date_booked).toLocaleDateString() %>
                                        </td>

                                        <td class="p-3">
                                            <a class="btn-outline text-green-600 mr-1"
                                                href="/bookings/reservations/<%= res.id %>/approve">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M5 13l4 4L19 7" />
                                                </svg>
                                                Approve
                                            </a>
                                            <a class="btn-outline text-red-600"
                                                href="/bookings/reservations/<%= res.id %>/deny">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M6 18L18 6M6 6l12 12" />
                                                </svg>
                                                Reject
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) } else { %>
                                        <tr>
                                            <td class="py-6 border-b" colspan="6">
                                                <h2 class="text-2xl text-center">No records found</h2>
                                            </td>
                                        </tr>
                                        <% } %>
                        </tbody>
                    </table>
                </div>

        </main>

</body>

</html>