<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
</head>

<body>
    <%- include('../partials/alerts') -%>

        <main class="dashboard">
            <%- include('../partials/sidebar') -%>

                <div class="container py-12">
                    <h1 class="heading text-4xl">Edit a program</h1>

                    <form class="w-1/2" action="/programs/update" method="post">
                        <input type="hidden" name="program_id" value="<%= program.id %>">

                        <div class="form-control">
                            <label for="title">Program Title</label>
                            <input type="text" name="title" id="title" value="<%= program.title %>" required>
                        </div>

                        <div class="form-control">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" cols="30" rows="5" required>
<%= program.description %>
                            </textarea>
                        </div>

                        <div class="form-control">
                            <label for="duration">Duration</label>
                            <input type="text" name="duration" id="duration" value="<%= program.duration %>" required>
                        </div>

                        <div class="form-control">
                            <label for="price">Price</label>
                            <input type="number" name="price" id="price" value="<%= program.price %>" required>
                        </div>

                        <button class="btn mt-2" type="submit">Save Changes</button>
                    </form>

                </div>

        </main>

</body>

</html>